<%- @planet_names.each do |planet| -%>
  <p><%= planet.name %> (Suggested by: <%= planet.user.name %> &middot; <%= pluralize(planet.votes.count, t(:votes)) %>) <%= render :partial => "votes/actions", :locals => { :planet => planet } %></p>
<%- end -%>

<%= link_to t(:suggest), new_name_path %>
